body, input, select, textarea { 
	color: #a0a0a1; 
	font-family: Courier, sans-serif; 
	font-size: 12pt; 
	font-weight: 300; 
	letter-spacing: 0.025em; 
	line-height: 1.65; 
}

body { background: #FFFFFF; }

strong, b { color: black; font-weight: 300; }

em, i { font-style: italic; }

p { margin: 0 0 2em 0; }

h1, h2, h3, h4, h5, h6 { color: #ffffff; font-weight: 300; letter-spacing: 0.1em; line-height: 1.5; margin: 0 0 1em 0; text-transform: uppercase; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; text-decoration: none; }

#teaser {
	height: calc(100vh - 15em);
	width:  auto;
	min-height: 80vh;
	/* max-height: 100vh; */
	margin-left:  auto;
	margin-right: auto;	
	background-size: cover;
	background-position: center;
	background-color: #ffffff;
	background-repeat: no-repeat;
	opacity: 1;
	position: relative;
	display: block;
	-moz-transition: opacity 1.25s ease-in-out; 
	-webkit-transition: opacity 1.25s ease-in-out; 
	-ms-transition: opacity 1.25s ease-in-out; 
	transition: opacity 1.25s ease-in-out; 
	-moz-pointer-events: auto; 
	-webkit-pointer-events: auto; 
	-ms-pointer-events: auto; 
	pointer-events: auto; 
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	overflow: hidden;
}


#teaserlink {
	text-align: center;
	background-image: url("/img/teaser.jpg");
	position:  absolute;
	height: 100%;
	width:  100%;
	margin-left:  auto;
	margin-right: auto;	
	background-size: cover;
	background-color: #ffffff;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 1;
	border: 0;
}

#collectiontitle {
	background-image: -moz-linear-gradient(to top, rgba(16,16,16,0.45) 25%, rgba(16,16,16,0) 100%); 
	background-image: -webkit-linear-gradient(to top, rgba(16,16,16,0.45) 25%, rgba(16,16,16,0) 100%); 
	background-image: -ms-linear-gradient(to top, rgba(16,16,16,0.45) 25%, rgba(16,16,16,0) 100%); 
	background-image: linear-gradient(to top, rgba(16,16,16,0.45) 25%, rgba(16,16,16,0) 100%);
	opacity: 0;
	top: 0;
	left: 0;
	height: 100%;
	width:  100%;
	position:  relative;
}

#collectiontitle:hover {
	opacity: 1;
	-moz-transition: opacity 0.8s ease-in-out; 
	-webkit-transition: opacity 0.8s ease-in-out; 
	-ms-transition: opacity 0.8s ease-in-out; 
	transition: opacity 0.8s ease-in-out; 
	overflow: hidden; 
	position: relative;
}

#collectiontitle h2 {
	opacity: 0;
	position: relative;
	text-align: center;
	top: 50%;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-size: 1.5em;
	text-transform: none;
}

#collectiontitle:hover h2 { 
	opacity: 1;
	-moz-transition: opacity 1.5s ease-in-out; 
	-webkit-transition: opacity 1.5s ease-in-out; 
	-ms-transition: opacity 1.5s ease-in-out; 
	transition: opacity 1.5s ease-in-out;
	-moz-transition-delay: 0.3s; 
	-webkit-transition-delay: 0.3s; 
	-ms-transition-delay: 0.3s; 
	transition-delay: 0.3s; 
}


#header { -moz-transform: translateY(0); -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); -moz-transition: -moz-transform 1s ease; -webkit-transition: -webkit-transform 1s ease; -ms-transition: -ms-transform 1s ease; transition: transform 1s ease; -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; background: white; bottom: -1em; height: 5em; left: 0; line-height: 4em; padding: 0 1.5em; position: fixed; user-select: none; width: 100%; z-index: 10002; }
body.loading #header { -moz-transform: translateY(4em); -webkit-transform: translateY(4em); -ms-transform: translateY(4em); transform: translateY(4em); }
#header h1 { color: #a0a0a1; display: inline-block; font-size: 1em; line-height: 1; margin: 0; vertical-align: middle; }
#header a { border:  0; color: inherit;}
#header h1 a { border: 0; color: inherit; }
#header h1 a:hover { color: inherit !important; }
#header nav { position: absolute; right: 0; top: 0; }
#header nav > ul { list-style: none; margin: 0; padding: 0; }
#header nav > ul > li { display: inline-block; padding: 0; }
#header nav > ul > li a { -moz-transition: background-color 0.5s ease; -webkit-transition: background-color 0.5s ease; -ms-transition: background-color 0.5s ease; transition: background-color 0.5s ease; border: 0; color: black; display: inline-block; letter-spacing: 0.1em; padding: 0 1.65em; text-transform: none; }
#header nav > ul > li a.icon:before { color: black; float: right; margin-left: 0.75em; }
#header nav > ul > li a:hover { color: #a0a0a1 !important; }
#header nav > ul > li a.active { background-color: whitesmoke; }

@media screen and (max-width: 736px) { body { padding: 4em 0 0 0; }
  #header { -moz-transform: translateY(0); -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); bottom: auto; height: 4em; padding: 0 1em; top: 0; }
  body.loading #header { -moz-transform: translateY(-3.4em); -webkit-transform: translateY(-3.4em); -ms-transform: translateY(-3.4em); transform: translateY(-3.4em); }
  #header h1 { font-size: 0.9em; }
  #header nav > ul > li a { font-size: 0.9em; padding: 0 1.15em; } }

.title-home {
	text-align: center;
	margin: 15px 0px 15px 0px;
}

.title-home h1, .title-home h2 {
	color:  black;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-size: 1.5em;
	text-transform: none;
}

.title-home h2 {
	font-size: 1.2em;
}

.poptrox-popup .caption { 
	padding: 2em 2em 0.1em 2em ; 
	background-image: -moz-linear-gradient(to top, rgba(16,16,16,0.45) 25%, rgba(16,16,16,0) 100%); 
	background-image: -webkit-linear-gradient(to top, rgba(16,16,16,0.45) 25%, rgba(16,16,16,0) 100%); 
	background-image: -ms-linear-gradient(to top, rgba(16,16,16,0.45) 25%, rgba(16,16,16,0) 100%); 
	background-image: linear-gradient(to top, rgba(16,16,16,0.45) 25%, rgba(16,16,16,0) 100%); 
	bottom: 0; 
	cursor: default; 
	left: 0; 
	position: absolute; 
	text-align: left; 
	width: 100%; 
	z-index: 2; 
	opacity: 0;
}
.poptrox-popup .caption h2, 
.poptrox-popup .caption h3, 
.poptrox-popup .caption h4, 
.poptrox-popup .caption h5, 
.poptrox-popup .caption h6 { 
	margin: 0 0 0.5em 0; 
	font-size: 0.9em;
}
.poptrox-popup .caption p { 
	color: #ffffff; 
	font-size: 0.9em;
}

.poptrox-popup:hover .caption { 
	opacity: 1; 
}

/* Recent */
#recent {
	margin: 0pt 50pt;
}
#recent .thumb { 
/* 	-moz-transition-delay: 2.075s; 
	-webkit-transition-delay: 2.075s; 
	-ms-transition-delay: 2.075s; 
	transition-delay: 2.075s;  */
	height: calc(40vh - 5em); 
	min-height: 8em; 
	width: 33.333333333%; 
}

@media screen and (max-width: 640px) { 
	#recent #main .thumb { -moz-transition-delay: 1.175s; -webkit-transition-delay: 1.175s; -ms-transition-delay: 1.175s; transition-delay: 1.175s; height: calc(80vh - 2em); min-height: 10em; width: 100%; }
  	#recent #main .thumb:nth-child(1) { -moz-transition-delay: 0.65s; -webkit-transition-delay: 0.65s; -ms-transition-delay: 0.65s; transition-delay: 0.65s; }
  	#recent #main .thumb:nth-child(2) { -moz-transition-delay: 0.8s; -webkit-transition-delay: 0.8s; -ms-transition-delay: 0.8s; transition-delay: 0.8s; }
  	#recent #main .thumb:nth-child(3) { -moz-transition-delay: 0.95s; -webkit-transition-delay: 0.95s; -ms-transition-delay: 0.95s; transition-delay: 0.95s; } }

