<!DOCTYPE HTML>
{{ partial "lang.html" . }}
<head>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
	{{ partial "head.html" . }}
<head>
<body>
        
	{{ partial "header.html" . }}

	<div class="title-home">
		<h1>Tageslichter</h1>
		<h2>{{ .Site.Params.author }}</h2>
		<h3>Münchner Photographische Lichtkammer</h3>
	</div>

	<div id="teaser">
	<a id="teaserlink" href="collection">
		<div id="collectiontitle">
    		<h2>sammlungen</h2>
    	</div>
    </a>
    </div>

    {{ partial "recent.html" . }}

    {{ partial "footer.html" . }}

{{ partial "scripts.html" . }}

</body>
</html>