RewriteEngine On

# Redirect always to www
RewriteCond %{HTTP_HOST} ^tageslichter\.eu$
RewriteRule ^(.*)$ https://www.tageslichter.eu/$1 [R=301,L]

# Redirect http to https
RewriteCond %{SERVER_PORT} !^443$
RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]