{{ define "title" }}
{{ .Title }} - {{ .Site.Title }}
{{ end }}
{{ define "main" }}
	<div class="title-home">
		<h1>{{ .Title }}</h1>
        <h2>{{ .Params.daterange }}</h2>
        <h3>{{ with .Params.description }}{{ . }} {{ end }}</h3>
	</div>
    <div id="main">
       {{ range .Sections.ByDate.Reverse }}
            <article class="thumb">
                <a href="{{ .Permalink }}" class="link"><img src="{{ .Params.albumthumb }}" alt="{{ .Title }}" /></a>
                <h2>{{ .Title }}</h2>
            </article>
        {{ end }}
        {{ .Content }}
    </div>
{{ end }}